body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
.box1 {
  box-shadow: 10px 10px 5px lightpink;
  background-color: lightgray;
  width: 150px;
  height: 150px;
  text-shadow: 2px 2px 5px rgb(87, 189, 223);
}
.box2 {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 150px;
  text-shadow: 10px 0px 2px rgb(231, 51, 207);
}
.box3 {
  box-shadow: 40px 5px 5px 10px gray;
  width: 150px;
  height: 150px;
  text-shadow: 5px 10px 5px rgb(141, 60, 74);
}
.box4 {
  background: linear-gradient(to left, rgb(224, 224, 163), rgb(231, 111, 111));
  width: 150px;
  height: 150px;
}
.box5 {
  background: linear-gradient(
    to top left,
    rgb(239, 239, 9),
    rgb(209, 236, 238)
  );
  width: 150px;
  height: 150px;
}
.box6 {
  background: radial-gradient(
    ellipse,
    lightpink,
    lightgray,
    lightgreen,
    lightblue
  );
  width: 150px;
  height: 150px;
}
