/* блочный-> линейный */
.block {
  display: inline;
  background-color: lightblue;
  padding: 10px;
}

/* 2️⃣ линейный-> блочный*/
.block-image {
  display: block;
  width: 200px;
  margin: 10px 0;
}

/* линейный-> блочный */
.inline {
  display: block;
  background-color: lightgray;
  margin: 5px 0;
}
