* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header {
  padding: 39px 165px 38px 165px;
  background-color: #e1ede6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
}
.logo p {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: #598d66;
  padding: 6px 0 6px 13px;
}

.menu {
  display: flex;
  gap: 60px;
  list-style-type: none;
}
.menu a {
  text-decoration: none;
  color: #2c2d35;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}
.menu a:hover {
  color: #2c2d35;
}

.img {
  margin-left: 165px;
}
.replica {
  display: flex;
  align-items: center;
}
.replica-text {
  gap: 20px;
}
.replica-text h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 20px;
}
.replica-text span {
  color: #598d66;
}
.replica-text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #86928b;
  margin-bottom: 60px;
}
.btn {
  padding: 20px 60px 20px 60px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: #598d66;
  background-color: transparent;
  border: 1px solid #598d66;
  gap: 6px;
}
.reproduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 180px 30px 180px;
}
.reproduction h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
  color: #2c2d35;
}
.reproduction a {
  text-decoration: none;
  list-style-type: none;
  color: #2c2d35;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  padding: 10px 20px 10px 20px;
  background-color: #d4e8d9;
  border-radius: 20px;
  margin-right: 32px;
}
.reproduction a:hover {
  text-decoration: none;
  list-style-type: none;
  color: #f4f6f5;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  padding: 10px 20px 10px 20px;
  background-color: #376b44;
  border-radius: 20px;
}
.container {
  display: flex;
  justify-content: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 1110px;
  margin-right: 30px;
}
.card {
  background-color: #e1ede6;
  padding: 20px 20px 30px 20px;
  width: fit-content;
}
.author {
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #86928b;
  margin-top: 20px;
}
.name {
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
  color: #2c2d35;
  margin-top: 10px;
}
.materials {
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #2c2d35;
  margin-top: 8px;
}
.price {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  color: #598d66;
  margin-top: 30px;
}
.basket_btn {
  padding: 20px 60px 20px 60px;
  width: 310px;
  height: 65px;
  border: 1px solid #598d66;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: #598d66;
  margin-top: 30px;
  gap: 6px;
}
.promo {
  background-image: url("pic_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 574px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 735px 70px 180px;
  margin-top: 70px;
}

.main_text {
  max-width: 800px;
}

.collection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title_text {
  display: flex;
  align-items: center;
  gap: 10px; /* расстояние между маленькой картинкой и заголовком */
}

.title_text h1 {
  font-size: 2rem;
  margin: 0;
  color: white;
  margin-bottom: 20px;
}

.collection-text p {
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  margin-bottom: 60px;
}

.collection-btn {
  background-color: #eedb6d;
  color: #2c2d35;
  border: none;
  padding: 20px 60px 20px 60px;
  width: 257px;
  height: 65px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.team {
  padding: 70px 180px 70px 180px;
  background-color: #f5f5f5; /* фон можно поменять */
}

.about_team {
  display: flex;
  align-items: center;
  gap: 30px;
}

.team-main-image {
  width: 445px;
  height: 440px;
}

.team_text {
  display: flex;
  flex-direction: column;
}

.team_text h1 {
  margin-top: 70px;
  font-size: 40px;
  font-weight: 500;
  line-height: 110px;
}

.team_text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #2c2d35;
  margin-bottom: 20px;
}

.team-avatars img {
  border-radius: 50%;
  margin-right: 30px;
}
.ftr {
  display: flex;
  justify-content: space-between;
  padding: 23px 165px 23px 165px;
  background-color: #e1ede6;
}
.num {
  margin-top: 35px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}
.num_text {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: #86928b;
  margin-right: 115px;
}
.repr_ftr p {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 6px;
}
.repr_ftr a {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #86928b;
  margin-bottom: 6px;
  text-decoration: none;
}
.new p {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 6px;
}
.new a {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #86928b;
  margin-bottom: 6px;
  text-decoration: none;
}
.about_us {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 6px;
}
.about_us a {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #86928b;
  margin-bottom: 6px;
  text-decoration: none;
}
.web {
  margin-left: 253px;
}
.web img {
  margin-right: 30px;
  margin-bottom: 10px;
}
.web p {
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  color: #86928b;
}
