body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  margin-top: 30px;
}

.rotate {
  transform: rotate(30deg); /* Поворачивает элемент на 30 градусов */
}

.scale {
  transform: scale(1.3); /* Увеличивает элемент в 1.3 раза */
}

.translate {
  transform: translate(20px, 15px); /* Смещает вправо и вниз */
}

.skew {
  transform: skew(15deg, 5deg); /* Наклоняет элемент по X и Y */
}

.box2 {
  background-color: #fff;
  color: #000;

  /* Плавное изменение при наведении */
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.box2:hover {
  transform: scale(1.2) rotate(360deg); /* Анимация при наведении */
  background-color: #0da3c1;
}
@keyframes moveAndScale {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(150px) scale(1.5);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
.box3 {
  background-color: #ff6347;
  animation: moveAndScale 4s ease-in-out infinite;
}
